/* content */
.caption {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 900;
    color: $b;
    text-align: center;
    margin-bottom: 16px;
    &-number {
        font-weight: 500;
        color: $t;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: 900;
        margin: 0;
    }
}
.box {
    display: none;
    &.visible {
        display: block;
    }
}
.content-back {
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
    &-link {
        display: block;
        font-size: 11px;
        line-height: 1.455;
        color: $b;
        padding: 8px 16px 8px 40px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: 13px;
            width: 12px;
            height: 8px;
            background: $tr url('../upload/arrow-down-black.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
            transform: rotate(90deg);
        }
    }
}
.banner-showroom {
    &-link {
        display: block;
        position: relative;
        background: $dgr 50% 50% no-repeat;
        background-size: cover;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($b, 0.6);
        }
        span {
            display: block;
        }
    }
    &-content {
        padding: 31px 16px 33px;
        text-align: center;
        position: relative;
    }
    &-title {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 900;
        color: $w;
        margin-bottom: 4px;
    }
    &-address {
        font-weight: 500;
        color: $p;
    }
}
.banner-delivery {
    &-link {
        display: block;
        background: $p 100% 50% no-repeat;
        background-size: auto 100%;
        span {
            display: block;
        }
    }
    &-content {
        color: $w;
        max-width: 260px;
        padding: 29px 30px 27px;
    }
    &-title {
        font-size: 24px;
        line-height: 1;
        font-weight: 900;
        letter-spacing: -0.3px;
        margin-bottom: 6px;
    }
    &-total {
        font-weight: 500;
    }
}
.hint {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0;
    width: 14px;
    height: 14px;
    border: 2px solid #7F7F7F;
    border-radius: 50%;
    background: $tr url('../upload/hint.svg') 50% 50% no-repeat;
    background-size: 4px 6px;
}