/* content */
.caption {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 900;
    color: $b;
    text-align: center;
    margin-bottom: 16px;
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: 900;
        margin: 0;
    }
}
.box {
    display: none;
    &.visible {
        display: block;
    }
}
.content-back {
    margin-bottom: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
    &-link {
        display: block;
        font-size: 11px;
        line-height: 1.455;
        color: $b;
        padding: 8px 16px 8px 40px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: 13px;
            width: 12px;
            height: 8px;
            background: $tr url('../upload/arrow-down-black.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
            transform: rotate(90deg);
        }
    }
}
.category {
    &-list {
        display: block;
        margin: 0;
        padding: 0 0 16px;
        list-style: none;
        li {
            margin-bottom: 8px;
        }
    }
    &-item {
        display: flex;
        align-items: center;
        padding: 8px;
        background: $s;
        &-img {
            flex: 0 0 50px;
            max-width: 50px;
            padding-right: 10px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
            }
        }
        &-title {
            flex-grow: 1;
            padding-bottom: 2px;
            font-size: 15px;
            line-height: 1.4;
            font-weight: 500;
            color: $b;
        }
    }
}
.products {
    &-tabs {
        display: flex;
        margin: -6px -16px 24px;
        padding: 0 18px;
        list-style: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        &::-webkit-scrollbar-track {
            background: $tr;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $tr;
            outline: none;
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }
        &::-webkit-scrollbar-corner {
            background: $tr;
        }
        li {
            padding: 0 12px;
            a {
                display: block;
                padding: 7px 0 6px;
                line-height: 1.154;
                color: $text;
                white-space: nowrap;
                border-bottom: 2px solid $tr;
                transition: color $d $f, border-color $d $f;
                will-change: color, border-color;
            }
            &.active {
                a {
                    color: $b;
                    font-weight: 500;
                    border-bottom-color: $p;
                }
            }
        }
    }
    &-list {
        margin-bottom: 24px;
        &.swiper-container {
            overflow: visible;
            padding-bottom: 8px;
        }
        .swiper-slide {
            width: 128px;
        }
    }
    &-item {
        display: block;
        text-align: center;
        padding-bottom: 16px;
    }
    &-img {
        display: block;
        margin-bottom: 16px;
        img {
            width: 100%;
        }
    }
    &-title {
        display: block;
        font-size: 11px;
        line-height: 1.455;
        color: $text;
        margin-bottom: 4px;
    }
    &-price {
        display: block;
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 1.231;
        font-weight: 500;
        color: $b;
        &-old {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            font-size: 11px;
            line-height: 1.455;
            color: $t;
            text-decoration: line-through;
        }
        &-new {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            color: $red;
        }
    }
}
.thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.thumb {
    flex: 0 0 50%;
    max-width: 50%;
    &-link {
        display: block;
        overflow: hidden;
        height: 0;
        padding-top: 100%;
        position: relative;
        background: $s;
    }
    &-img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
        }
    }
    &-caption {
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
    }
    &-suptitle {
        display: block;
        font-size: 13px;
        line-height: 1.231;
        font-weight: 500;
    }
    &-title {
        display: block;
    }
    &-v1 {
        flex: 0 0 100%;
        max-width: 100%;
        .thumb-caption {
            text-align: center;
            padding: 31px 16px 0;
        }
        .thumb-suptitle {
            color: $b;
            margin-bottom: 2px;
        }
        .thumb-title {
            font-size: 32px;
            line-height: 1.0625;
            font-weight: 900;
            color: $p;
            letter-spacing: -0.5px;
        }
    }
    &-v2 {
        .thumb-caption {
            padding: 24px 16px 0 24px;
            color: $w;
        }
    }
    &-v3 {
        .thumb-caption {
            padding: 24px 16px 0 24px;
            color: $b;
        }
    }
    &-v4 {
        .thumb-caption {
            padding: 24px 16px 0;
            text-align: center;
            color: $w;
        }
        .thumb-suptitle {
            font-weight: bold;
        }
        .thumb-title {
            font-size: 24px;
            line-height: 1.09;
            font-weight: 900;
            letter-spacing: -0.5px;
        }
    }
}
.catalog {
    &-nav {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;
        padding: 0;
        list-style: none;
        li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 4px 8px;
            a {
                display: block;
                padding: 12px 8px;
                font-size: 11px;
                line-height: 1.455;
                font-weight: bold;
                color: $b;
                text-align: center;
                background: $s;
            }
        }
        &-filter {}
        &-number {
            display: inline-block;
            vertical-align: top;
            min-width: 16px;
            height: 16px;
            white-space: nowrap;
            padding: 4px 3px 3px;
            font-size: 9px;
            line-height: 1;
            font-weight: 500;
            color: #ffffff;
            text-align: center;
            background: $p;
            border-radius: 50%;
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;
    }
    &-product {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 4px 16px;
        position: relative;
        &-link {
            display: block;
            text-align: center;
        }
        &-img {
            display: block;
            margin-bottom: 8px;
            img {
                width: 100%;
            }
        }
        &-title {
            display: block;
            font-size: 11px;
            line-height: 1.455;
            color: $text;
            margin-bottom: 6px;
        }
        &-price {
            display: block;
            margin-bottom: 8px;
            font-size: 13px;
            line-height: 1.231;
            font-weight: 500;
            color: $b;
            &-old {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                font-size: 11px;
                line-height: 1.455;
                color: $t;
                text-decoration: line-through;
            }
            &-new {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                color: $red;
            }
        }
        &-favorite {
            display: block;
            position: absolute;
            z-index: 2;
            top: 8px;
            right: 12px;
            width: 24px;
            height: 24px;
            background: $w;
            border-radius: 50%;
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 13px;
                height: 12px;
                margin-top: -5px;
                margin-left: -6px;
                background: $tr url('../upload/favorite.svg') 50% 50% no-repeat;
                background-size: 100% 100%;
                transition: opacity $d $f;
                will-change: opacity;
            }
            &:after {
                opacity: 0;
                background-image: url('../upload/favorite-active.svg');
            }
            &.active {
                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    &-more {
        margin-bottom: 16px;
        .button {
            width: 100%;
        }
    }
    &-pagination {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &-total {
            flex-grow: 1;
            text-align: center;
        }
        &-next,
        &-prev {
            display: block;
            width: 40px;
            height: 40px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $tr url('../upload/arrow-down.svg') 50% 50% no-repeat;
                background-size: 12px 8px;
                transform: rotate(-90deg);
            }
        }
        &-prev {
            &:before {
                transform: rotate(90deg);
            }
        }
    }
}
.banner-delivery {
    &-link {
        display: block;
        background: $p 100% 50% no-repeat;
        background-size: auto 100%;
        span {
            display: block;
        }
    }
    &-content {
        color: $w;
        max-width: 260px;
        padding: 29px 30px 27px;
    }
    &-title {
        font-size: 24px;
        line-height: 1;
        font-weight: 900;
        letter-spacing: -0.3px;
        margin-bottom: 6px;
    }
    &-total {
        font-weight: 500;
    }
}