/* content */
.caption {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 900;
    color: $b;
    text-align: center;
    margin-bottom: 16px;
    &-number {
        font-weight: 500;
        color: $t;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: 900;
        margin: 0;
    }
}
.box {
    display: none;
    &.visible {
        display: block;
    }
}
.content-back {
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
    &-link {
        display: block;
        font-size: 11px;
        line-height: 1.455;
        color: $b;
        padding: 8px 16px 8px 40px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: 13px;
            width: 12px;
            height: 8px;
            background: $tr url('../upload/arrow-down-black.svg') 50% 50% no-repeat;
            background-size: 100% 100%;
            transform: rotate(90deg);
        }
    }
}
.banner-showroom {
    &-link {
        display: block;
        position: relative;
        background: $dgr 50% 50% no-repeat;
        background-size: cover;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($b, 0.6);
        }
        span {
            display: block;
        }
    }
    &-content {
        padding: 31px 16px 33px;
        text-align: center;
        position: relative;
    }
    &-title {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 900;
        color: $w;
        margin-bottom: 4px;
    }
    &-address {
        font-weight: 500;
        color: $p;
    }
}
.banner-delivery {
    &-link {
        display: block;
        background: $p 100% 50% no-repeat;
        background-size: auto 100%;
        span {
            display: block;
        }
    }
    &-content {
        color: $w;
        max-width: 260px;
        padding: 29px 30px 27px;
    }
    &-title {
        font-size: 24px;
        line-height: 1;
        font-weight: 900;
        letter-spacing: -0.3px;
        margin-bottom: 6px;
    }
    &-total {
        font-weight: 500;
    }
}
.hint {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0;
    width: 14px;
    height: 14px;
    border: 2px solid #7F7F7F;
    border-radius: 50%;
    background: $tr url('../upload/hint.svg') 50% 50% no-repeat;
    background-size: 4px 6px;
}
.content-menu {
    a {
        display: block;
        margin-bottom: 16px;
        padding: 12px 8px;
        font-size: 11px;
        line-height: 1.455;
        font-weight: bold;
        color: $b;
        text-align: center;
        background: $s;
    }
}
.product {
    &-reviews {
        padding-bottom: 14px;
        &-add {
            padding: 0 16px 16px;
            .button {
                width: 100%;
            }
        }
        &-more {
            padding: 0 16px 16px;
            &-button {
                display: block;
                text-align: center;
                font-weight: 500;
                padding: 10px 0 12px;
            }
        }
    }
    &-review {
        margin-bottom: 16px;
        background: $s;
        &-info {
            margin: 0 -16px;
            padding: 18px 16px 26px;
            background: #f9fafa;
            font-size: 11px;
            line-height: 1.455;
        }
        &-date {
            color: $gr;
            margin-bottom: 6px;
        }
        &-customer {
            font-size: 15px;
            line-height: 1.2;
            color: $b;
            font-weight: bold;
        }
        &-customer-city {
            color: $gr;
            margin-bottom: 3px;
        }
        &-customer-status {
            font-weight: 500;
            letter-spacing: -0.17px;
            margin-bottom: 2px;
        }
        &-rating {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0 0 0 -4px;
            list-style: none;
            li {
                padding: 4px 0 0 4px;
            }
        }
        &-content {
            padding-top: 16px;
            padding-bottom: 8px;
        }
        &-text {
            line-height: 1.54;
            p {
                margin-bottom: 15px;
            }
            strong {
                font-weight: 500;
                color: $b;
            }
        }
        &-ratio {
            display: flex;
            flex-wrap: wrap;
            margin-right: -16px;
        }
        &-ratio-item {
            padding: 0 16px 16px 0;
        }
        &-ratio-link {
            display: flex;
            align-items: center;
            &.disabled {
                opacity: 0.3;
            }
        }
        &-ratio-icon {
            flex: 0 0 50px;
            max-width: 50px;
            padding-right: 10px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background: $w;
                border-radius: 50%;
            }
        }
        &-ratio-number {
            flex-grow: 1;
            font-weight: 500;
            color: $gr;
        }
        &-features {
            line-height: 1.54;
            p {
                margin-bottom: 7px;
            }
            strong {
                font-weight: 500;
                color: $b;
            }
        }
        &-photos {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -16px;
            padding: 16px 8px 4px 16px;
            border-top: 1px solid #e3e3e3;
        }
        &-photo {
            flex: 0 0 58px;
            max-width: 58px;
            padding: 0 8px 8px 0;
            img {
                width: 100%;
            }
        }
        &-feedback {
            padding-bottom: 16px;
        }
        &-feedback-title {
            font-size: 11px;
            line-height: 1.455;
            color: $gr;
            margin-bottom: 6px;
        }
        &-feedback-block {
            padding: 24px 24px 8px;
            background: #E9EBED;
            border-radius: 5px;
        }
        &-feedback-caption {
            display: flex;
            align-items: flex-start;
            margin-bottom: 26px;
        }
        &-feedback-icon {
            flex: 0 0 56px;
            max-width: 56px;
            padding-right: 16px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                padding-top: 2px;
                background: $w;
                border-radius: 50%;
            }
        }
        &-feedback-info {
            flex-grow: 1;
            font-size: 11px;
            line-height: 1.455;
            color: $gr;
        }
        &-feedback-date {
            margin-bottom: 5px;
        }
        &-feedback-person {
            font-size: 13px;
            line-height: 1.385;
            font-weight: 500;
            color: $b;
        }
        &-feedback-person-post {}
        &-feedback-text {
            line-height: 1.54;
            p {
                margin-bottom: 15px;
            }
        }
    }
}
.showroom-video {
    margin: 0 -16px;
    &-link {
        display: block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            background: $w url('../upload/play.svg') calc(50% + 1px) 50% no-repeat;
            background-size: 12px 14px;
            border-radius: 50%;
        }
        img {
            width: 100%;
        }
    }
}
.recently-viewed {
    .caption {
        margin-bottom: 13px;
    }
    &-products {
        margin-bottom: 30px;
        &.swiper-container {
            overflow: visible;
            padding-bottom: 6px;
        }
        .swiper-slide {
            width: 168px;
        }
    }
    &-product {
        display: block;
    }
    &-product-img {
        display: block;
        margin-bottom: 16px;
        img {
            width: 100%;
        }
    }
}
.content-categories {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-track {
        background: $tr;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $tr;
        outline: none;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-corner {
        background: $tr;
    }
    li {
        padding: 0 16px;
        a {
            display: block;
            padding: 15px 0;
            font-size: 15px;
            line-height: 1.4;
            color: $text;
            white-space: nowrap;
            border-bottom: 2px solid $tr;
            transition: color $d $f, border-color $d $f;
            will-change: color, border-color;
        }
        &.active {
            a {
                color: $b;
                font-weight: 500;
                border-bottom-color: $p;
            }
        }
    }
}
.similar {
    &-products {
        .caption {
            margin-bottom: 13px;
        }
        &-list {
            margin-bottom: 30px;
            &.swiper-container {
                overflow: visible;
                padding-bottom: 6px;
            }
            .swiper-slide {
                width: 250px;
            }
        }
        &-tabs {
            display: flex;
            margin: -10px -16px 16px;
            padding: 0 1px;
            list-style: none;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            &::-webkit-scrollbar-track {
                background: $tr;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $tr;
                outline: none;
            }
            &::-webkit-scrollbar-button {
                width: 0;
                height: 0;
                display: none;
            }
            &::-webkit-scrollbar-corner {
                background: $tr;
            }
            li {
                padding: 0 15px;
                a {
                    display: block;
                    padding: 7px 0 5px;
                    line-height: 1.154;
                    color: $gr;
                    white-space: nowrap;
                    border-bottom: 2px solid $tr;
                    transition: color $d $f, border-color $d $f;
                    will-change: color, border-color;
                }
                &.active {
                    a {
                        color: $b;
                        font-weight: 500;
                        border-bottom-color: $p;
                    }
                }
            }
        }
    }
    &-product {
        display: block;
        text-align: center;
        padding-bottom: 8px;
        &-img {
            display: block;
            margin-bottom: 16px;
            img {
                width: 100%;
            }
        }
        &-title {
            display: block;
            font-size: 11px;
            line-height: 1.455;
            color: $text;
            margin-bottom: 4px;
        }
        &-price {
            display: block;
            margin-bottom: 8px;
            font-size: 13px;
            line-height: 1.231;
            font-weight: 500;
            color: $b;
            &-old {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                font-size: 11px;
                line-height: 1.455;
                color: $t;
                text-decoration: line-through;
            }
            &-new {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                color: $red;
            }
        }
    }
}