/* modal */
.modal {
    &-content {
        width: 100%;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        &-bottom {
            vertical-align: bottom;
            margin: 0 -16px -16px;
            width: calc(100% + 32px);
            max-width: calc(100% + 32px);
        }
        &-top {
            vertical-align: top;
        }
    }
    &-title {
        font-size: 15px;
        line-height: 1.3334;
        color: $b;
        font-weight: 900;
        margin: 0 -16px 16px;
        padding: 4px 50px 20px 20px;
        border-bottom: 1px solid #e3e3e3;
        strong {
            color: $p;
            font-weight: 900;
        }
        &-center {
            text-align: center;
            padding-left: 50px;
        }
    }
    &-credit {
        padding-top: 8px;
        &-step {
            padding: 0 8px 24px;
            text-align: center;
            p {
                font-size: 11px;
                line-height: 1.455;
                margin-bottom: 0;
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 8px;
            width: 104px;
            height: 104px;
            background: $s;
            border-radius: 50%;
        }
        &-title {
            font-size: 13px;
            line-height: 1.62;
            font-weight: 500;
            color: $b;
            margin-bottom: 7px;
        }
        &-info {
            margin: 0 -16px;
            padding: 24px 16px 14px;
            border-top: 1px solid #e3e3e3;
            ul {
                display: block;
                padding: 0 0 0 26px;
                margin: 0;
                list-style: disc outside;
                li {
                    font-size: 11px;
                    line-height: 1.455;
                    padding-left: 11px;
                }
            }
        }
        &-info-title {
            font-size: 13px;
            line-height: 1.62;
            font-weight: 500;
            color: $b;
            text-align: center;
            margin-bottom: 8px;
        }
    }
    &-certificate {
        &.swiper-container {
            padding: 45px 0 44px;
        }
        .swiper-pagination {
            bottom: 4px;
        }
        &-img {
            img {
                margin: 0 auto;
            }
        }
    }
    &-review {
        padding: 2px 4px 0;
        &-rating-title {
            margin-bottom: 6px;
        }
        &-rating {
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
            margin-bottom: 16px;
            & > input {
                appearance: none;
                position: absolute;
                left: -9999px;
            }
            label {
                cursor: pointer;
                display: block;
                position: relative;
                margin: 0 4px 0 0;
                width: 19px;
                height: 17px;
                user-select: none;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $tr url('../upload/star.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                    transition: opacity $d $f;
                    will-change: opacity;
                }
                &:after {
                    opacity: 0;
                    background-image: url('../upload/star-active.svg');
                }
            }
            & > input:checked ~ label {
                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
        &-photo {
            margin: 0 -20px 8px;
            padding: 20px 20px 0;
            border-top: 1px solid #e1e1e1;
        }
        &-photo-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
        }
        &-photo-item {
            flex: 0 0 50px;
            max-width: 50px;
            height: 50px;
            overflow: hidden;
            margin: 0 0 10px 10px;
            position: relative;
            background: $s;
            img {
                width: 100%;
            }
            &.loading {
                pointer-events: none;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $s;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -9px 0 0 -9px;
                    width: 18px;
                    height: 18px;
                    background: $tr url('../upload/loader.png') 50% 50% no-repeat;
                    background-size: 100% 100%;
                    animation: rotation 0.8s infinite linear;
                }
            }
            &.delete {
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba($t, 0.6) url('../upload/close.svg') 50% 50% no-repeat;
                    background-size: 36px 36px;
                }
            }
        }
        &-photo-upload {
            input {
                display: none !important;
            }
            label {
                cursor: pointer;
                display: block;
                position: relative;
                padding: 8px 0 12px 34px;
                margin: 0;
                font-weight: 500;
                color: $p;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    left: 2px;
                    width: 20px;
                    height: 18px;
                    background: $tr url('../upload/photo.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
        &-button {
            margin-bottom: 16px;
            .button {
                width: 100%;
            }
        }
        &-note {
            font-size: 11px;
            line-height: 1.455;
            color: $gr;
            text-align: center;
        }
    }
    &-favorite {
        &-icon {
            display: inline-block;
            vertical-align: top;
            margin: 1px 5px -1px -3px;
        }
        &-wrapper {
            margin: 0 -16px;
            padding: 0 16px;
            overflow: hidden;
        }
        &.swiper-container {
            overflow: visible;
            padding-bottom: 26px;
        }
        .swiper-slide {
            width: 250px;
        }
        &-product {
            position: relative;
            &-link {
                display: block;
                text-align: center;
                padding-bottom: 13px;
            }
            &-img {
                display: block;
                margin-bottom: 16px;
                img {
                    width: 100%;
                }
            }
            &-title {
                display: block;
                font-size: 11px;
                line-height: 1.455;
                color: $text;
                margin-bottom: 4px;
            }
            &-price {
                display: block;
                margin-bottom: 8px;
                font-size: 13px;
                line-height: 1.231;
                font-weight: 500;
                color: $b;
                &-old {
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                    font-size: 11px;
                    line-height: 1.455;
                    color: $t;
                    text-decoration: line-through;
                }
                &-new {
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                    color: $red;
                }
            }
            &-toggle {
                display: block;
                position: absolute;
                top: 16px;
                right: 16px;
                width: 24px;
                height: 24px;
                background: $w;
                border-radius: 50%;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 13px;
                    height: 12px;
                    margin-top: -5px;
                    margin-left: -6px;
                    background: $tr url('../upload/favorite.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                    transition: opacity $d $f;
                    will-change: opacity;
                }
                &:after {
                    opacity: 0;
                    background-image: url('../upload/favorite-active.svg');
                }
                &.active {
                    &:before {
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-call {
        padding: 2px 4px 4px;
        &-button {
            padding-top: 10px;
            margin-bottom: 16px;
            .button {
                width: 100%;
            }
        }
        &-note {
            font-size: 11px;
            line-height: 1.455;
            color: $gr;
            a {
                font-weight: 500;
            }
        }
    }
    &-showroom {
        padding-top: 16px;
        &-map {
            height: 189px;
            &-block {
                margin: 0 -16px 36px;
            }
        }
        &-route {
            &-title {
                font-size: 15px;
                line-height: 1.3334;
                color: $b;
                font-weight: 500;
                letter-spacing: -0.3px;
                margin-bottom: 13px;
            }
            ul {
                display: block;
                margin: 0;
                padding: 0 0 3px;
                list-style: none;
                li {
                    margin-bottom: 18px;
                    padding-left: 11px;
                    position: relative;
                    &::after {
                        content: "•";
                        position: absolute;
                        left: 1px;
                        top: 0;
                    }
                }
            }
            p {
                margin-bottom: 16px;
            }
        }
    }
    &-promocode {
        padding: 8px 4px 32px;
        &-process {
            display: block;
            margin: 0 0 6px;
            padding: 0;
            list-style: none;
            li {
                padding: 2px 0 18px 40px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 11px;
                    width: 0;
                    top: 26px;
                    bottom: 2px;
                    border-left: 2px dashed #d7d7d7;
                }
                &:last-child {
                    &::before {
                        display: none;
                    }
                }
            }
            &-step {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 24px;
                height: 24px;
                font-size: 11px;
                line-height: 1.182;
                font-weight: 500;
                color: $b;
                white-space: nowrap;
                overflow: hidden;
                background: $w;
                border: 3px solid $p;
                border-radius: 50%;
                svg {
                    display: block;
                    margin: 2px 0 0;
                }
            }
            &-title {
                min-height: 36px;
            }
        }
        &-close {
            .button {
                width: 100%;
            }
        }
    }
    &-payment {
        padding: 8px 4px 16px;
        p {
            font-size: 13px;
            line-height: 1.54;
            color: $b;
            margin-bottom: 20px;
        }
        &-list {
            display: block;
            margin: 0;
            padding: 0 0 16px;
            list-style: none;
            li {
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                position: relative;
                padding-left: 20px;
                margin-bottom: 8px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 3px;
                    height: 3px;
                    background: $b;
                    border-radius: 50%;
                }
                strong {
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
        &-button {
            .button {
                width: 100%;
            }
        }
        &-progress {
            display: flex;
            padding: 4px 0 25px;
            margin-right: -11px;
            &-item {
                flex: 0 0 25%;
                max-width: 25%;
                padding-right: 11px;
                &.active {
                    .modal-payment-progress {
                        &-line {
                            background: $p;
                        }
                        &-value,
                        &-title {
                            color: $b;
                        }
                    }
                }
            }
            &-line {
                margin-bottom: 11px;
                width: 100%;
                height: 8px;
                border-radius: 4px;
                background: $s;
            }
            &-value {
                margin-bottom: 4px;
                font-size: 11px;
                line-height: 1.455;
                color: $gray;
                font-weight: 500;
            }
            &-title {
                font-size: 11px;
                line-height: 1.455;
                color: $gray;
            }
        }
    }
    &-color-custom {
        padding: 8px 4px 16px;
        .input-wrapper {
            margin-bottom: 16px;
            & > label {
                color: $b;
                line-height: 1.54;
                margin-bottom: 10px;
            }
            &.error {
                input.input-text,
                textarea.textarea,
                select.select {
                    color: $b;
                    border-color: $red;
                }
            }
        }
        .input-error {
            font-size: 10px;
            line-height: 1.5;
            font-weight: normal;
            padding-top: 10px;
            margin-bottom: 0;
        }
        &-info {
            font-size: 13px;
            line-height: 1.54;
            margin-bottom: 20px;
        }
        &-button {
            padding-top: 12px;
            .button {
                width: 100%;
                &.button-disabled {
                    cursor: default;
                    background: #CDE6B9;
                }
            }
        }
        &-note {
            padding-top: 12px;
            font-size: 11px;
            line-height: 1.455;
            color: $gray;
            a {
                font-weight: 500;
            }
        }
        &-success {
            display: none;
            padding: 8px 14px 16px;
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 124px;
                height: 124px;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto 24px;
            }
            &-text {
                text-align: center;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                margin-bottom: 32px;
            }
            &-button {
                .button {
                    width: 100%;
                }
            }
        }
    }
    &-share {
        padding: 18px 2px 26px;
        &-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 6px;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    &-favorite-overfill {
        padding: 24px 4px 16px;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 124px;
            height: 124px;
            background: $s;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 32px;
        }
        &-text {
            font-size: 13px;
            line-height: 1.54;
            color: $b;
            margin-bottom: 24px;
        }
        &-button {
            .button {
                width: 100%;
            }
        }
    }
    &-cart-textile {
        padding: 8px 4px 16px;
        &-img {
            margin-bottom: 23px;
            img {
                width: 100%;
            }
        }
        &-text {
            font-size: 13px;
            line-height: 1.54;
            color: $b;
            p {
                margin: 0 0 8px;
            }
            strong {
                font-weight: 500;
                line-height: normal;
            }
            em {
                color: $gray;
                font-style: normal;
            }
        }
        &-button {
            padding-top: 18px;
            .button {
                width: 100%;
            }
        }
    }
    &-cabinet-confirm-phone {
        padding: 15px 4px 16px;
        &-info {
            margin-bottom: 24px;
            text-align: center;
            font-size: 13px;
            line-height: 1.54;
            strong {
                font-weight: 500;
            }
            p {
                margin: 0;
            }
        }
        &-button {
            margin-bottom: 8px;
            .button {
                width: 100%;
            }
        }
    }
    &-cabinet-confirm-email {
        padding: 16px 4px;
        &-icon {
            width: 124px;
            height: 124px;
            margin: 0 auto 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $s;
            border-radius: 50%;
            overflow: hidden;
        }
        &-info {
            margin-bottom: 24px;
            text-align: center;
            font-size: 13px;
            line-height: 1.54;
            color: $b;
            strong {
                font-weight: 500;
            }
            p {
                margin: 0;
            }
        }
        &-button {
            margin-bottom: 8px;
            .button {
                width: 100%;
            }
        }
    }
    &-cabinet-change-phone {
        padding: 16px 4px;
        &-button {
            padding-top: 4px;
            margin-bottom: 8px;
            .button {
                width: 100%;
                &:disabled,
                &.disabled {
                    cursor: default;
                    pointer-events: none;
                    color: $w !important;
                    background: #CDE6B9;
                }
            }
        }
        &-terms {
            padding-top: 8px;
            margin-bottom: 8px;
            font-size: 11px;
            line-height: 1.455;
            color: $gray;
            text-align: center;
        }
    }
    &-cabinet-verify-phone {
        padding: 15px 4px 16px;
        &-info {
            margin-bottom: 3px;
            font-size: 13px;
            line-height: 1.54;
            strong {
                font-weight: 500;
            }
            p {
                margin: 0;
            }
        }
        &-change {
            margin-bottom: 17px;
            font-size: 13px;
            line-height: 1.54;
            font-weight: 500;
        }
        &-resend {
            margin-top: -11px;
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 1.54;
            font-weight: 500;
        }
        &-button {
            padding-top: 5px;
            margin-bottom: 8px;
            .button {
                width: 100%;
                &:disabled,
                &.disabled {
                    cursor: default;
                    pointer-events: none;
                    color: $w !important;
                    background: #CDE6B9;
                }
                &.disabled {
                    pointer-events: auto;
                }
            }
        }
        &-success {
            padding: 24px 4px 16px;
            &-icon {
                width: 124px;
                height: 124px;
                margin: 0 auto 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
            &-text {
                margin-bottom: 24px;
                text-align: center;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                strong {
                    font-weight: 500;
                }
            }
            &-button {
                margin-bottom: 8px;
                .button {
                    width: 100%;
                }
            }
        }
    }
    &-cabinet-add-address {
        padding: 16px 4px;
        &-map {
            height: 180px;
            &-block {
                margin-bottom: 32px;
            }
        }
        &-form {}
        &-city {
            margin-bottom: 12px;
            font-size: 13px;
            line-height: 2.462;
            font-weight: 500;
            &-link {
                display: inline-block;
                vertical-align: top;
                position: relative;
                padding-right: 32px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 13px;
                    right: 11px;
                    width: 10px;
                    height: 7px;
                    background: $tr url('../upload/new-cabinet-city-arrow.svg') 50% 50% no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
        &-row {
            display: flex;
            margin: 0 -6px;
        }
        &-col {
            flex: 1 1 0;
            max-width: 100%;
            padding: 0 6px;
        }
        &-cta {
            padding-top: 8px;
            margin-bottom: 16px;
            .button {
                width: 100%;
                &:disabled,
                &.disabled {
                    cursor: default;
                    pointer-events: none;
                    color: $w !important;
                    background: #CDE6B9;
                }
            }
        }
        &-detail {}
        &-success {
            padding: 16px 4px;
            &-icon {
                width: 124px;
                height: 124px;
                margin: 0 auto 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
            &-text {
                margin-bottom: 24px;
                text-align: center;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                strong {
                    font-weight: 500;
                }
            }
            &-button {
                margin-bottom: 8px;
                .button {
                    width: 100%;
                }
            }
        }
        &-delete {
            padding: 16px 4px;
            &-success {
                padding: 16px 4px;
            }
            &-icon {
                width: 124px;
                height: 124px;
                margin: 0 auto 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $s;
                border-radius: 50%;
                overflow: hidden;
            }
            &-text {
                margin-bottom: 32px;
                text-align: center;
                font-size: 13px;
                line-height: 1.54;
                color: $b;
                strong {
                    font-weight: 500;
                }
            }
            &-button {
                margin-bottom: 8px;
                .button {
                    width: 100%;
                }
            }
        }
    }
}